# Set the default behavior, in case people don't have core.autocrlf set.
# This will handle all files NOT found below.
* text=auto
.gitattributes text

#
# The following are explicitly declared as text files and will have their line
# endings normalized to LF on commit.
#
*.js text
*.jsx text
*.ts text
*.tsx text
*.json text
*.md text
*.html text
*.css text
.gitignore text
.env text
.env.example text