# Enforce Unix-style line endings for Git-specific files to avoid warnings.
.gitattributes text eol=lf
.gitignore   text eol=lf

# Set default behavior to automatically handle line endings.
# Git will check out files with line endings native to the OS, but store them as LF in the repo.
* text=auto

# Explicitly declare text files to be normalized.
*.js text
*.jsx text
*.ts text
*.tsx text
*.mjs text
*.css text
*.html text
*.json text
*.md text
*.sql text

# Declare files that are binary and should not be modified.
*.png binary
*.jpg binary